body {
    padding-top: 70px!important;
}

.home-content {
    min-height: 400px;
}

.top-spacing {
    margin-top: 40px;
}

.designation_ico {
    width: 25px;
    height: 25px;
}
.active{
	color: #fff !important;
}

.navbar-inverse {
    background-color: #0c2b15;
    border-color: #080808;
    font-size: 16px;
}
